*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   background-color: hsl(0, 0%, 8%);
   color: white;
   font-family: "Inter", sans-serif;
  
}
.container{
    border-radius: 1rem;
    background-color: hsl(0, 0%, 12%);
    width: 23rem;
    height: 34rem;
  position: sticky;
   border-radius: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: 1s;
}
.profile>img{
    border-radius: 12rem;
    width: 20%;
    object-fit: cover;
    margin: 2rem;
}
.profile>h1{
    margin: 0;
    font-size: 27px;
    font-weight: 600;
}
.profile>.location{
  margin: 4px;
  /* color: hsl(0, 0%, 50%); */
  color: hsl(75, 94%, 57%);
}
.profile>p{
    color: hsl(0, 0%, 50%); 
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.links{
    display: flex;
    flex-direction: column;
}
.links>a{
   text-decoration: none;
   display: block;
   border-radius: 5px;
   margin: 7px 30px;
   padding: 10px 20px;
   color: #fff;
   background-color: hsl(0, 0%, 20%);
   font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
}
.links>a:hover,focus{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 8%);
}