@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(0, 0%, 86%);
}
.container{
  width: 610px;
  border: none;
  background-color:  hsl(0, 0%, 100%);
  padding: 50px;
   border-radius: 20px;
   border-bottom-right-radius:200px ;
   position: relative;
   font-family: 'Poppins', sans-serif;
}
.input-container{
    display: grid;
    margin-bottom: 45px;
    grid-template-columns:repeat(250,1fr);
   column-gap: 3rem;

}

input{
    font-size: 26px;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid hsl(0, 0%, 86%);
    outline: none;
    letter-spacing: 2px;
    caret-color:hsl(259, 100%, 65%);
   margin-top: 3px;
}
h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color:   hsl(0, 1%, 44%);
  }

  button {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: hsl(259, 100%, 65%);
    right: 50px;
    margin-top: -32px;
    cursor: pointer;
  }
  
  
button:hover {
    background: hsl(0, 0%, 8%);
  }

  input:focus {
    border: 0.5px solid  hsl(259, 100%, 65%);
  }  

  hr {
    border: none;
    height: 1px;
    background:  hsl(0, 0%, 86%);
  }

  .result-container p {
    font-size: 60px;
    font-style: italic;
    color: hsl(0, 0%, 0%);
  }
  .result-container span{
    color: hsl(259, 100%, 65%);
  }
  .error-day,.error-month ,.error-year{
    display:none;
    font-size: 11.5px;
    color: hsl(0, 100%, 67%);
  }


